/* .banner-carousel{
    width: 100%;
    height:40rem  ;
    object-fit: cover;

   

} */
.banner-items >h3{
    font-size: large;
    color: black;
}

.banner-items >img{
    /* height: 10rem;
    width: 20%; */
}

.card-align{
    margin-top: 10rem;
    padding:2rem 6rem;
    justify-content: space-around;
    display: flex;
    flex-wrap:wrap ;
  

}
.card-align1{
    margin-bottom: 10rem;
    padding:2rem 6rem;
    justify-content: space-around;
    display: flex;
    flex-wrap:wrap ;
  

}
.searchDate{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 4rem;
    padding-top: 2em;
    padding-bottom: 1rem;

 
    
}

.bannerButton{
    background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;


}
/* .bannerButton :focus{
    outline-style: none;
} */

.searchDate > button:hover{
    background-color: #ff7779;
 
    text-transform: inherit;

    transition: 1s;
    border: none;
    outline-width: none;
    outline-style: none;
    outline-color: white;
}
/* .bannerButton
.bannerButton :focus{
    outline-width: none;
    border: none;
} */

/* .cardHead{
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: start;
    margin-top: -5rem;
    margin-left: 5rem;
} */