.header{
    /* background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    position: fixed;
    top: 0; */


    position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
text-align: center;
align-items: center;
  height: 90px;
  z-index: 100;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: #f4f4f2;
  flex-wrap: nowrap;

   
}
.navScroll{
    background-color:#ffacb0;
    align-items: center;
}

.header-logo >img{

    padding: 1rem;
    object-fit: contain;
    cursor: pointer;
}

.header-logo >h1{

    display: flex;
    align-items: center;
    height: 30px;
    justify-self: center;
    position: absolute;
    top:1.3rem;
    left: 6rem;
    font-weight: bold;
    font-size: 25px;;
    text-align: center;
    cursor: pointer;
 
  



}
.header-pins{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
  align-items: center;
  
    /* margin-right: 3rem;; */
    width: 30vw;
    margin-top: 1rem;
    cursor: pointer;
    color: #4A5163;
    font-weight: 500;

   
}
.header-pins li:hover{
  color: #FF4A52;
  transition: .5s ;
  transition-timing-function: ease-in;

}

.header-pins li{
    padding: 2rem;
    font-size: 1.02rem;

}